*{
   
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body{
    background-color: #191919  !important;
}

.container-meu{
    margin: 0 auto !important;
    
}

.main{
    width: 100%;
    
}

#text-inicio{
    font-size: 1.5em;
}

.card-hover:hover{
    border: 2px solid white;
    border-radius: 3px;
}

#image.png{
    background: black !important;
}

nav a{
    color: white !important;
    font-size: 0.9rem !important;
}

.ativo{
    font-weight: bold !important;
}

.border-wj{
    border: 1px solid red
}

#bg-films{
    background: url(../assets/bg-films.jpg) no-repeat center top !important;
    background-size: 100% !important;
}

.nav-item a:hover{
    background-color: #191919 !important;
}

@media only screen and (max-width: 520px) {
    .navbar-toggler-icon{
        background-color: red !important;
    }
    .navbar-toggler{
        background-color: red !important;
    }

    .logo-film{
        width: 350px !important;
    }

    .container-meu{
    margin: 0 auto;
    width: 10rem !important; 
    height: 10rem !important;
    }

    .container-meu a img{
        width: 160px;
    }

    .conteiner-cell{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 50% !important;
    }

    /*
    .carousel img{
        width: 100px;
    }*/

    .carousel{
        display: none !important;
    }

    .carousel-cell{
        display: block !important;
    }

    .container-carrossel{
        width: 22rem !important;
    }

    .dropdown{
        position: relative;
        left: -40px;
    }

    .add-res{
        width: 130px !important;
        height: 130px;
        
    }

    .mgb-res{
        margin-bottom: 50px;
    }

    #text-inicio{
        margin-top: 60px !important;
        
    }

    .container-meu{
        margin-bottom: 80px !important;
    }

    .text-index-res{
        position: relative;
        top: -70px !important;
    }

    .text-index-res-ult{
        margin: 0 auto;
    }

    .text-res-add-prefil{
        margin-top: 0px !important;
    }

    .hide-res{
        display: none !important;
    }
  }